:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(64.34% 0.2255 54.21);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0000 54.21);
  --border: oklch(90.00% 0.0000 54.21);
  --danger: oklch(65.32% 0.2328 1.79);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0000 54.21);
  --default-foreground: oklch(21.03% 0.0059 54.21);
  --field-background: oklch(100.00% 0.0000 54.21);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0000 54.21);
  --field-placeholder: oklch(55.17% 0.0000 54.21);
  --focus: oklch(64.34% 0.2255 54.21);
  --foreground: oklch(21.03% 0.0000 54.21);
  --muted: oklch(55.17% 0.0000 54.21);
  --overlay: oklch(100.00% 0.0000 54.21);
  --overlay-foreground: oklch(21.03% 0.0000 54.21);
  --scrollbar: oklch(87.10% 0.0000 54.21);
  --segment: oklch(100.00% 0.0000 54.21);
  --segment-foreground: oklch(21.03% 0.0000 54.21);
  --separator: oklch(92.00% 0.0000 54.21);
  --success: oklch(73.29% 0.1935 126.86);
  --success-foreground: oklch(21.03% 0.0059 126.86);
  --surface: oklch(100.00% 0.0000 54.21);
  --surface-foreground: oklch(21.03% 0.0000 54.21);
  --surface-secondary: oklch(95.24% 0.0000 54.21);
  --surface-secondary-foreground: oklch(21.03% 0.0000 54.21);
  --surface-tertiary: oklch(93.73% 0.0000 54.21);
  --surface-tertiary-foreground: oklch(21.03% 0.0000 54.21);
  --warning: oklch(78.19% 0.1585 48.38);
  --warning-foreground: oklch(21.03% 0.0059 48.38);

  --radius: 0.25rem;
  --field-radius: 0.75rem;

  --font-sans: "Poppins", sans-serif;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(64.34% 0.2255 54.21);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0000 54.21);
  --border: oklch(28.00% 0.0000 54.21);
  --danger: oklch(59.40% 0.1967 0.68);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 54.21);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 54.21);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0000 54.21);
  --field-placeholder: oklch(70.50% 0.0000 54.21);
  --focus: oklch(64.34% 0.2255 54.21);
  --foreground: oklch(99.11% 0.0000 54.21);
  --muted: oklch(70.50% 0.0000 54.21);
  --overlay: oklch(21.03% 0.0000 54.21);
  --overlay-foreground: oklch(99.11% 0.0000 54.21);
  --scrollbar: oklch(70.50% 0.0000 54.21);
  --segment: oklch(39.64% 0.0000 54.21);
  --segment-foreground: oklch(99.11% 0.0000 54.21);
  --separator: oklch(25.00% 0.0000 54.21);
  --success: oklch(73.29% 0.1935 126.86);
  --success-foreground: oklch(21.03% 0.0059 126.86);
  --surface: oklch(21.03% 0.0000 54.21);
  --surface-foreground: oklch(99.11% 0.0000 54.21);
  --surface-secondary: oklch(25.70% 0.0000 54.21);
  --surface-secondary-foreground: oklch(99.11% 0.0000 54.21);
  --surface-tertiary: oklch(27.21% 0.0000 54.21);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 54.21);
  --warning: oklch(82.03% 0.1388 52.39);
  --warning-foreground: oklch(21.03% 0.0059 52.39);
}
